<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../css/reseter.css" />
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/glide.core.min.css">
  <link rel="stylesheet" href="../css/glide/dist/css/glide.theme.min.css">
  <link rel="stylesheet" href="../css/page2.css" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <script src="../js/page2.js" type="module" defer></script>
</head>

<body>
  <header>
    <nav>
      <img src="../images/Logo.png">
      <ul>
        <div class="logo">
        </div>
        <li><a href="/cefim_projet_tracteur/index.html">Home</a></li>
        <li><a href="./panier.html">Panier</a></li>
        <li><a href="./Equipe.html">Equipe</a></li>
      </ul>
    </nav>
    <div class="slider-container">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <img src="../images/tracteur-slider-1.png" alt="truck slide1">
            </li>
            <li class="glide__slide">
              <img src="../images/tracteur-slider-2.jpg" alt="truck slide2">
            </li>
            <li class="glide__slide">
              <img src="../images/slide 3.jpg" alt="truck slide3">
            </li>
          </ul>
        </div>
        <div class="glide__arrows slider-buttons" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
    </div>
    </div>

  </header>
  <main id="mainContent">
    <h1>Notre Equipe</h1>
    <div class="contentsWrap">
      <section class="equipeContent">
        <div class="sexeBtn">
          <button id="menBtn" data-src="profil-0"><img src="../images/sexe-masculin.png" /></button>
          <button id="womenBtn" data-src="profil-0"><img src="../images/signe-de-genre-feminin.png" /></button>
        </div>
        <div class="profilphoto"><img id="profil-0" src="/cefim_projet/public/images/3099393_woman_farmer_icon.svg"></div>
        <div class="equipeContentTxt">
          <div class="first-line">
            <h2 class="text" id="name">NOM Prénom</h2>
            <button id="btn1" class="modifyBtn"><img
                src="../images/3017938_adapt_alter_compose_correct_edit_icon.svg"></button>
          </div>
          <div class="second-line">
            <h3 class="text" id="poste">Poste</h3>
            <button id="btn2" class="modifyBtn"><img
                src="../images/3017938_adapt_alter_compose_correct_edit_icon.svg"></button>
          </div>
          <div class="third-line">
            <p class="text" id="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ut
              assumenda saepe? Praesentium vitae laborum fugiat magnam nesciunt, commodi amet! Ullam id vero iusto,
              dignissimos nobis ipsam accusamus. Aperiam, veritatis?</p>
            <button id="btn3" class="modifyBtn"><img
                src="../images/3017938_adapt_alter_compose_correct_edit_icon.svg"></button>
          </div>
          <div class="equipeSNS">
            <div class="snsBtn"><a href="https://www.linkedin.com/f"><img
                  src="../images/free-icon-linkedin-letters-25325.png"></a></div>
            <div class="snsBtn"><a href="https://github.com"><img src="../images/github.png"></a></div>
            <div class="snsBtn"><a href="https://www.facebook.com"><img src="../images/facebook.png"></a></div>
            <div class="snsBtn"><a href="#"><img src="../images/envoyer-un-e-mail.png"></a></div>
          </div>
      </section>
    </div>
    <button id='plus' class="createNew"><img src="../images/216373_plus_icon.svg"></button>
    <div class="objectifBox">
      <section>
        <h2>Notre valeurs</h2>
        <div class="valeurs">
          <div class="valeurs-imgwrap"><img src="../images/178237033_991x467.jpg.avif" alt=""></div>
          <article class="valeurs-article">
            <h3>Développement durable</h3>
            <p>Nous œuvrons à créer des solutions qui soutiennent les moyens de subsistance de nos clients et communautés du monde entier pour les générations à venir.</p>
          </article>
        </div>
        <div class="valeurs">
          <div class="valeurs-imgwrap"><img src="../images/r4f079563_VS_876x420.jpg.avif"></div>
          <article class="valeurs-article">
            <h3>Innovation et technologie</h3>
            <p>Nous œuvrons à créer de nouveaux modes de pensée et à développer de nouvelles méthodes de travail. Il ne s’agit pas de bouleverser le statu quo, mais d'élaborer des solutions axées sur le client qui lui permettent de faire progresser son travail de manière plus facile et plus rentable.</p>
          </article>
        </div>
        <div class="valeurs">
          <div class="valeurs-imgwrap"><img src="../images/r4f108183_876x420.jpg.avif" alt=""></div>
          <article class="valeurs-article">
            <h3>Communauté</h3>
            <p>Notre passion est aussi audacieuse que la loyauté qu’elle inspire. Ce genre d’estime se mérite. La fierté d’un travail bien fait nous permet d’avoir un puissant impact au sein de nos communautés et dans le monde entier.</p>
          </article>
        </div>
        <div class="valeurs">
          <div class="valeurs-imgwrap"><img src="../images/r4g066831_VS_876x420.jpg.avif" alt=""></div>
          <article class="valeurs-article">
            <h3>Leadership</h3>
            <p>Les grands dirigeants font les grandes entreprises, et notre PDG John May partage les puissantes valeurs directrices de ses prédécesseurs, notamment l’intégrité, la qualité, l’engagement et l’innovation.</p>
          </article>
        </div>
      </section>
    </div>
  </main>
  <footer>
    <div class="imgfooter">
      <section>
        <h4>Produit</h4>
        <ul>
          <li>series F-100</li>
          <li>series F-200</li>
          <li>series F-300</li>
          <li>series F-400</li>
          <li>series F-500</li>
        </ul>
      </section>
      <section>
        <h4>Support</h4>
        <ul>
          <li>Contact</li>
          <li>Garantie</li>
          <li>Pièces détachées</li>
          <li>Manuel</li>
          <li>FAQ</li>
        </ul>
      </section>
      <section>
        <h4>A propos</h4>
        <ul>
          <li>Equipe</li>
          <li>Conditions générales de vente</li>
          <li>Partenaires</li>
          <li>Plan du site</li>
        </ul>
      </section>
      <section class="btnlogo">
        <h4>Suivez-nous</h4>
        <div class="footerbtn">
        <button><img src="../images/facebook.png" alt=""></button>
        <button><img src="../images/5305170_bird_social media_social network_tweet_twitter_icon.svg" alt=""></button>
        <button><img src="../images/211929_social_youtube_icon.svg" alt=""></button>
      </div>
        <div class="logo"><img src="../images/Tractroc_logo.svg" alt=""></div>
      </section>
    
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script>
    new Glide('.glide').mount()
  </script>
</body>

</html>